# Packages
node_modules/
yarn.lock

# Log files
logs/
*.log

# Miscellaneous
.tmp/
.vscode/
docs/

# NPM ignore
.eslintignore
.eslintrc.json
.gitattributes
.github/
.gitignore
.travis-deploy.sh
.travis.yml
test/
tsconfig.json
tslint.json
webpack.config.js
